@import "tailwindcss";

@theme {
  --color-background:#171717 ;
  --color-foreground: #ffffff;
  --color-border:#e5e7eb;
  --color-primary:#22c55e;
}

.header{
  background-image: url('../core/assets/graph-paper.svg'); /* Corrected */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-background text-foreground
}
.home-bg {
  background-image: url('../core/assets/bg.png'); 
}
.overly {
  z-index: 1;
  background:linear-gradient(to top, rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.219));
  @apply flex justify-center items-center w-full h-full top-0 left-0 absolute 
}

.btn {
  @apply cursor-pointer hover:bg-zinc-800 rounded-md transition duration-500 h-14 px-5 flex items-center select-none text-center justify-center;
}